# IBM Data Science Professional Certificate - Applied Data Science Capstone

# Introduction

In this notebook I will conduct an analysis on the accident severity data as a Applied Data Science Capstone Project of the IBM Data Science Professional Certificate programme.

The aim of this project is to predict the severity of an accident.

# Importing libraries and packages

In [1]:
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

# Download the dataset

In [2]:
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-09-10 17:34:40--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

100%[======================================>] 73,917,638  35.1MB/s   in 2.0s

2020-09-10 17:34:42 (35.1 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

# Having a high level look at the data

In [3]:
# read the data into a pandas dataframe and have a look at the first 10 rows

df = pd.read_csv('Data-Collisions.csv')

pd.set_option('display.max_columns', None) # option for showing all the columns when head or describe methods are used
df.head(5)

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,NaN,2,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,1,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,1,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,0,Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,1,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,2,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
# check the dimensions of the dataset

df.shape

(194673, 38)

In [5]:
# check the data types of all attributes in the dataset

df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
# check the statistical summary of all integer or float64 type attributes in the dataset

df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [7]:
# check the statistical summary of all types of attributes in the dataset

df.describe(include = "all")

# Execute the code below to see the statistical summary of a desired attribute
# df[['column1','column2']].describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,191996,84811,5638,194673.000000,194673,189769,194673.000000,194673.000000,194673.000000,194673.000000,194673,194673,188344,194673.000000,194673,29805,189789,189592,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,24102,2,1,NaN,2,10,NaN,NaN,NaN,NaN,5985,162058,7,NaN,39,1,4,11,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1776526,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,,"Not Enough Information, or Insufficient Locati...",NaN,Property Damage Only Collision,Parked Car,NaN,NaN,NaN,NaN,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),NaN,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Y,N,Clear,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,276,79173,5638,NaN,136485,47987,NaN,NaN,NaN,NaN,96,96,89800,NaN,85209,29805,100274,111135,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,NaN,NaN,NaN,1.298901,NaN,NaN,2.444427,0.037139,0.028391,1.920780,NaN,NaN,NaN,13.867768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,NaN,NaN,NaN,0.457778,NaN,NaN,1.345929,0.198150,0.167413,0.631047,NaN,NaN,NaN,6.868755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,NaN,NaN,NaN,1.000000,NaN,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,NaN,NaN,NaN,1.000000,NaN,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,NaN,NaN,NaN,2.000000,NaN,NaN,3.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,NaN,NaN,NaN,2.000000,NaN,NaN,81.000000,6.000000,2.000000,12.000000,NaN,NaN,NaN,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [8]:
# look at the info of the dataset

df.info

<bound method DataFrame.info of         SEVERITYCODE           X          Y  OBJECTID  INCKEY  COLDETKEY  \
0                  2 -122.323148  47.703140         1    1307       1307
1                  1 -122.347294  47.647172         2   52200      52200
2                  1 -122.334540  47.607871         3   26700      26700
3                  1 -122.334803  47.604803         4    1144       1144
4                  2 -122.306426  47.545739         5   17700      17700
5                  1 -122.387598  47.690575         6  320840     322340
6                  1 -122.338485  47.618534         7   83300      83300
7                  2 -122.320780  47.614076         9  330897     332397
8                  1 -122.335930  47.611904        10   63400      63400
9                  2 -122.384700  47.528475        12   58600      58600
10                 1         NaN        NaN        14   48900      48900
11                 1 -122.333831  47.547371        15   38800      38800
12                 1 -122.356273  47.571375        16    2771       2771
13                 1 -122.323966  47.606374        17   32800      32800
14                 2 -122.317414  47.664028        19    1212       1212
15                 1 -122.337663  47.617510        20  330878     332378
16                 2 -122.344539  47.692012        21   46300      46300
17                 1         NaN        NaN        23   23000      23000
18                 2 -122.328270  47.571420        24  330833     332333
19                 1 -122.383802  47.583715        25   97100      97100
20                 2 -122.292403  47.732847        26    1347       1347
21                 2 -122.313786  47.708535        28    1323       1323
22                 1 -122.318169  47.615837        29   80000      80000
23                 1 -122.337486  47.589746        31   28700      28700
24                 2 -122.279658  47.553405        33    1268       1268
25                 2 -122.312857  47.599218        34  320932     322432
26                 1 -122.330730  47.615450        35  113300     113300
27                 1 -122.385859  47.581191        36   64700      64700
28                 1 -122.304990  47.611474        37    1083       1083
29                 1         NaN        NaN        38   61500      61500
...              ...         ...        ...       ...     ...        ...
194643             1 -122.345863  47.612991    219510  307577     308857
194644             1 -122.330298  47.603233    219511  312117     313537
194645             2 -122.328079  47.604161    219512  307692     308972
194646             1 -122.320756  47.608656    219513  312289     313709
194647             2 -122.355449  47.704720    219514  308575     309855
194648             1 -122.357624  47.635956    219515  307792     309072
194649             2 -122.302382  47.626759    219516  307985     309265
194650             2 -122.355298  47.684382    219517  310417     311717
194651             1 -122.320780  47.614076    219519  309594     310874
194652             1 -122.335527  47.617434    219520  308698     309978
194653             2 -122.322097  47.649615    219521  308342     309622
194654             1 -122.312679  47.719414    219522  311117     312437
194655             2 -122.380016  47.664879    219523  310911     312231
194656             2 -122.340474  47.614496    219524  312179     313599
194657             1 -122.337137  47.610709    219525  307834     309114
194658             1 -122.302554  47.584099    219528  311697     313057
194659             1 -122.298955  47.717456    219529  308019     309299
194660             2         NaN        NaN    219531  308990     310270
194661             2 -122.306092  47.617881    219532  308532     309812
194662             1 -122.337880  47.625793    219535  307802     309082
194663             2 -122.299160  47.579673    219536  309335     310615
194664             1 -122.325887  47.643191    219537  309222     310502
194665             1 -122.304217  47.669537    219538  308480     309760
194666             2 -122.344569  47.694547    219539  309170     310450
194667             1 -122.361672  47.556722    219541  307804     309084
194668             2 -122.290826  47.565408    219543  309534     310814
194669             1 -122.344526  47.690924    219544  309085     310365
194670             2 -122.306689  47.683047    219545  311280     312640
194671             2 -122.355317  47.678734    219546  309514     310794
194672             1 -122.289360  47.611017    219547  308220     309500

       REPORTNO     STATUS      ADDRTYPE   INTKEY  \
0       3502005    Matched  Intersection  37475.0
1       2607959    Matched         Block      NaN
2       1482393    Matched         Block      NaN
3       3503937    Matched         Block      NaN
4       1807429    Matched  Intersection  34387.0
5       E919477    Matched  Intersection  36974.0
6       3282542    Matched  Intersection  29510.0
7       EA30304    Matched  Intersection  29745.0
8       2071243    Matched         Block      NaN
9       2072105    Matched  Intersection  34679.0
10      2024040    Matched         Alley      NaN
11      C654800    Matched  Intersection  33194.0
12      1211870  Unmatched         Block      NaN
13      2128498    Matched         Block      NaN
14      3507861    Matched         Block      NaN
15      3838086  Unmatched         Block      NaN
16      2023080    Matched  Intersection  37365.0
17       537838    Matched         Block      NaN
18      EA29752    Matched         Block      NaN
19      2894590    Matched         Block      NaN
20      3608880    Matched         Block      NaN
21      3502831    Matched  Intersection  36505.0
22      2882620    Matched         Block      NaN
23      1213894    Matched         Block      NaN
24      3672152    Matched  Intersection  33499.0
25      E926429    Matched         Block      NaN
26      3346338    Matched  Intersection  29865.0
27      2798260    Matched         Block      NaN
28      3605909    Matched         Block      NaN
29      2607270    Matched         Block      NaN
...         ...        ...           ...      ...
194643  3811871    Matched         Block      NaN
194644  E885893    Matched  Intersection  30479.0
194645  E851047    Matched  Intersection  29973.0
194646  E872044  Unmatched         Block      NaN
194647  E872078    Matched         Block      NaN
194648  3578593    Matched         Block      NaN
194649  E869075    Matched  Intersection  29328.0
194650  3751221    Matched         Block      NaN
194651  E881227    Matched  Intersection  29745.0
194652  3812450    Matched         Block      NaN
194653  3693206    Matched         Block      NaN
194654  E881587  Unmatched  Intersection  36427.0
194655  3751425  Unmatched  Intersection  25174.0
194656  E885580    Matched  Intersection  29545.0
194657  3811279    Matched         Block      NaN
194658  E886941    Matched         Block      NaN
194659  3767486    Matched         Block      NaN
194660  3811749    Matched         Block      NaN
194661  3814599    Matched         Block      NaN
194662  E869008    Matched         Block      NaN
194663  E880807    Matched         Block      NaN
194664  E879537    Matched  Intersection  28300.0
194665  3642620    Matched  Intersection  26005.0
194666  E879712    Matched         Block      NaN
194667  3745813    Matched         Block      NaN
194668  E871089    Matched         Block      NaN
194669  E876731    Matched         Block      NaN
194670  3809984    Matched  Intersection  24760.0
194671  3810083    Matched  Intersection  24349.0
194672  E868008    Matched         Block      NaN

                                                 LOCATION EXCEPTRSNCODE  \
0                              5TH AVE NE AND NE 103RD ST
1              AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N           NaN
2             4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST           NaN
3                2ND AVE BETWEEN MARION ST AND MADISON ST
4                         SWIFT AVE S AND SWIFT AV OFF RP           NaN
5                              24TH AVE NW AND NW 85TH ST
6                              DENNY WAY AND WESTLAKE AVE           NaN
7                                  BROADWAY AND E PIKE ST
8                     PINE ST BETWEEN 5TH AVE AND 6TH AVE           NaN
9                           41ST AVE SW AND SW THISTLE ST           NaN
10                                                    NaN           NaN
11                 1ST AV S BR NB AND EAST MARGINAL WAY S           NaN
12      SW SPOKANE ST BETWEEN SW SPOKANE W BR AND TERM...
13               TERRY AVE BETWEEN JAMES ST AND CHERRY ST           NaN
14      ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...
15             9TH AVE BETWEEN LENORA ST AND BLANCHARD ST
16                             AURORA AVE N AND N 87TH ST           NaN
17      BATTERY ST TUN ON RP BETWEEN BELL ST AND ALASK...           NaN
18        S SPOKANE SR ST BETWEEN 4TH AVE S AND 5TH AVE S
19      41ST AVE SW BETWEEN SW WALKER ST AND SW COLLEG...           NaN
20      LAKE CITY WAY NE BETWEEN NE 143RD ST AND NE 14...
21                       14TH AVE NE AND NE NORTHGATE WAY
22              11TH AVE BETWEEN E PINE ST AND E OLIVE ST           NaN
23      ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR ...           NaN
24                         RAINIER AVE S AND S BRANDON ST
25         S JACKSON ST BETWEEN 14TH AVE S AND 16TH AVE S
26                                BOREN AVE AND OLIVE WAY           NaN
27      SW ADMIRAL WAY BETWEEN 42ND AVE SW AND CALIFOR...           NaN
28            21ST AVE BETWEEN E MARION ST AND E UNION ST
29      1ST AVE S BETWEEN 1ST AVS ON N RP AND S ROYAL ...           NaN
...                                                   ...           ...
194643           1ST AVE BETWEEN BLANCHARD ST AND BELL ST
194644                               4TH AVE AND JAMES ST
194645                               6TH AVE AND JAMES ST
194646       BROADWAY BETWEEN CHERRY ST AND E COLUMBIA ST
194647  GREENWOOD AVE N BETWEEN N 104TH ST AND HOLMAN ...
194648   W HOWE ST BETWEEN QUEEN ANNE AVE N AND 1ST AVE W
194649                          23RD AVE E AND E ALOHA ST
194650    GREENWOOD AVE N BETWEEN N 76TH ST AND N 77TH ST
194651                             BROADWAY AND E PIKE ST
194652        TERRY AVE BETWEEN VIRGINIA ST AND LENORA ST
194653  HARVARD AVE E BETWEEN E ALLISON ST AND EASTLAK...
194654                        15TH AVE NE AND NE 125TH ST
194655                        LEARY AVE NW AND NW DOCK PL
194656                              5TH AVE AND LENORA ST
194657                4TH AVE BETWEEN PIKE ST AND PINE ST           NEI
194658   RAINIER AVE S BETWEEN 23RD AVE S AND S WALKER ST
194659    NE 123RD ST BETWEEN HIRAM PL NE AND 28TH AVE NE           NEI
194660  BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...
194661      20TH AVE BETWEEN E MADISON ST AND E DENNY WAY
194662   VALLEY ST BETWEEN WESTLAKE AVE N AND TERRY AVE N
194663  RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLE...
194664                    EASTLAKE AVE E AND E ROANOKE ST
194665                    NE PARK RD AND NE RAVENNA WB BV
194666       AURORA AVE N BETWEEN N 90TH ST AND N 91ST ST
194667  PUGET BLVD SW BETWEEN SW HUDSON ST AND DEAD END 1
194668    34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST
194669       AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST
194670                         20TH AVE NE AND NE 75TH ST
194671                      GREENWOOD AVE N AND N 68TH ST
194672       34TH AVE BETWEEN E MARION ST AND E SPRING ST

                                            EXCEPTRSNDESC  SEVERITYCODE.1  \
0                                                     NaN               2
1                                                     NaN               1
2                                                     NaN               1
3                                                     NaN               1
4                                                     NaN               2
5                                                     NaN               1
6                                                     NaN               1
7                                                     NaN               2
8                                                     NaN               1
9                                                     NaN               2
10                                                    NaN               1
11                                                    NaN               1
12                                                    NaN               1
13                                                    NaN               1
14                                                    NaN               2
15                                                    NaN               1
16                                                    NaN               2
17                                                    NaN               1
18                                                    NaN               2
19                                                    NaN               1
20                                                    NaN               2
21                                                    NaN               2
22                                                    NaN               1
23                                                    NaN               1
24                                                    NaN               2
25                                                    NaN               2
26                                                    NaN               1
27                                                    NaN               1
28                                                    NaN               1
29                                                    NaN               1
...                                                   ...             ...
194643                                                NaN               1
194644                                                NaN               1
194645                                                NaN               2
194646                                                NaN               1
194647                                                NaN               2
194648                                                NaN               1
194649                                                NaN               2
194650                                                NaN               2
194651                                                NaN               1
194652                                                NaN               1
194653                                                NaN               2
194654                                                NaN               1
194655                                                NaN               2
194656                                                NaN               2
194657  Not Enough Information, or Insufficient Locati...               1
194658                                                NaN               1
194659  Not Enough Information, or Insufficient Locati...               1
194660                                                NaN               2
194661                                                NaN               2
194662                                                NaN               1
194663                                                NaN               2
194664                                                NaN               1
194665                                                NaN               1
194666                                                NaN               2
194667                                                NaN               1
194668                                                NaN               2
194669                                                NaN               1
194670                                                NaN               2
194671                                                NaN               2
194672                                                NaN               1

                          SEVERITYDESC COLLISIONTYPE  PERSONCOUNT  PEDCOUNT  \
0                     Injury Collision        Angles            2         0
1       Property Damage Only Collision     Sideswipe            2         0
2       Property Damage Only Collision    Parked Car            4         0
3       Property Damage Only Collision         Other            3         0
4                     Injury Collision        Angles            2         0
5       Property Damage Only Collision        Angles            2         0
6       Property Damage Only Collision        Angles            2         0
7                     Injury Collision        Cycles            3         0
8       Property Damage Only Collision    Parked Car            2         0
9                     Injury Collision        Angles            2         0
10      Property Damage Only Collision         Other            2         0
11      Property Damage Only Collision        Angles            2         0
12      Property Damage Only Collision    Rear Ended            0         0
13      Property Damage Only Collision    Parked Car            2         0
14                    Injury Collision       Head On            2         0
15      Property Damage Only Collision           NaN            1         0
16                    Injury Collision     Left Turn            3         0
17      Property Damage Only Collision    Rear Ended            0         0
18                    Injury Collision    Rear Ended            4         0
19      Property Damage Only Collision    Parked Car            2         0
20                    Injury Collision    Rear Ended            3         0
21                    Injury Collision        Angles            5         0
22      Property Damage Only Collision    Parked Car            2         0
23      Property Damage Only Collision         Other            1         0
24                    Injury Collision    Rear Ended            3         0
25                    Injury Collision        Cycles            2         0
26      Property Damage Only Collision     Left Turn            2         0
27      Property Damage Only Collision        Angles            2         0
28      Property Damage Only Collision         Other            2         0
29      Property Damage Only Collision    Parked Car            2         0
...                                ...           ...          ...       ...
194643  Property Damage Only Collision    Parked Car            2         0
194644  Property Damage Only Collision        Angles            2         0
194645                Injury Collision    Right Turn            5         0
194646  Property Damage Only Collision           NaN            2         0
194647                Injury Collision    Pedestrian            2         1
194648  Property Damage Only Collision        Angles            2         0
194649                Injury Collision     Left Turn            6         0
194650                Injury Collision    Parked Car            5         0
194651  Property Damage Only Collision    Pedestrian            3         1
194652  Property Damage Only Collision    Parked Car            3         0
194653                Injury Collision    Parked Car            6         0
194654  Property Damage Only Collision           NaN            2         0
194655                Injury Collision           NaN            4         0
194656                Injury Collision    Pedestrian            2         1
194657  Property Damage Only Collision     Sideswipe            2         0
194658  Property Damage Only Collision    Rear Ended            3         0
194659  Property Damage Only Collision    Parked Car            2         0
194660                Injury Collision         Other            1         0

In [9]:
# what is the distribution in the label column: SEVERITYCODE

df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

According to the attribute information in the dataset metadata, it looks like

136485 of all accidents lead to injury (1)

58188 of them lead to property damage (2)

# Data wrangling

In [10]:
# dealing with the missing data

missing_data = df.isnull()
missing_data.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False

In [11]:
# count missing values in each column

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

X
False    189339
True       5334
Name: X, dtype: int64

Y
False    189339
True       5334
Name: Y, dtype: int64

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

INCKEY
False    194673
Name: INCKEY, dtype: int64

COLDETKEY
False    194673
Name: COLDETKEY, dtype: int64

REPORTNO
False    194673
Name: REPORTNO, dtype: int64

STATUS
False    194673
Name: STATUS, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

INTKEY
True     129603
False     65070
Name: INTKEY, dtype: int64

LOCATION
False    191996
True       2677
Name: LOCATION, dtype: int64

EXCEPTRSNCODE
True     109862
False     84811
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
True     189035
False      5638
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE.1
False    194673
Name: SEVERITYCODE.1, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
False    194673
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
False    194673
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
True     190006
False      4667
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
False    114936
True      79737
Name: SDOTCOLNUM, dtype: int64

SPEEDING
True     185340
False      9333
Name: SPEEDING, dtype: int64

ST_COLCODE
False    194655
True         18
Name: ST_COLCODE, dtype: int64

ST_COLDESC
False    189769
True       4904
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
False    194673
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
False    194673
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64

# Decide which columns will be removed before continuing

After investigating the attribute information in the dataset metadata and looking at the information in the cells (by head method) we can say that the following columns will not serve our goal will not be used in the feature set of our machine learning model.

In [35]:
# drop unnecessary columns and read the cleaned dataframe into a new dataframe

df_c = df.drop(['OBJECTID','INCKEY','COLDETKEY','REPORTNO','INTKEY','LOCATION','EXCEPTRSNCODE','STATUS','INATTENTIONIND','PEDROWNOTGRNT',
                      'EXCEPTRSNDESC','SEVERITYCODE.1','SEVERITYDESC','COLLISIONTYPE','JUNCTIONTYPE','SPEEDING',
                      'SDOT_COLCODE','SDOT_COLDESC','SDOTCOLNUM','ST_COLDESC','SEGLANEKEY',
                      'CROSSWALKKEY'], axis=1)

df_c.head(5)

,SEVERITYCODE,X,Y,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,HITPARKEDCAR
0,2,-122.323148,47.703140,Intersection,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,N,Overcast,Wet,Daylight,10,N
1,1,-122.347294,47.647172,Block,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,0,Raining,Wet,Dark - Street Lights On,11,N
2,1,-122.334540,47.607871,Block,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,0,Overcast,Dry,Daylight,32,N
3,1,-122.334803,47.604803,Block,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,N,Clear,Dry,Daylight,23,N
4,2,-122.306426,47.545739,Intersection,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,0,Raining,Wet,Daylight,10,N

In [36]:
df_c.describe()

,SEVERITYCODE,X,Y,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673.000000
mean,1.298901,-122.330518,47.619543,2.444427,0.037139,0.028391,1.920780
std,0.457778,0.029976,0.056157,1.345929,0.198150,0.167413,0.631047
min,1.000000,-122.419091,47.495573,0.000000,0.000000,0.000000,0.000000
25%,1.000000,-122.348673,47.575956,2.000000,0.000000,0.000000,2.000000
50%,1.000000,-122.330224,47.615369,2.000000,0.000000,0.000000,2.000000
75%,2.000000,-122.311937,47.663664,3.000000,0.000000,0.000000,2.000000
max,2.000000,-122.238949,47.734142,81.000000,6.000000,2.000000,12.000000

In [37]:
df_c.describe(include = "all")

,SEVERITYCODE,X,Y,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,192747,194673.000000,194673.000000,194673.000000,194673.000000,194673,194673,189789,189592,189661,189503,194655,194673
unique,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,5985,162058,4,11,9,9,115,2
top,NaN,NaN,NaN,Block,NaN,NaN,NaN,NaN,2006/11/02 00:00:00+00,11/2/2006,N,Clear,Dry,Daylight,32,N
freq,NaN,NaN,NaN,126926,NaN,NaN,NaN,NaN,96,96,100274,111135,124510,116137,27612,187457
mean,1.298901,-122.330518,47.619543,NaN,2.444427,0.037139,0.028391,1.920780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.457778,0.029976,0.056157,NaN,1.345929,0.198150,0.167413,0.631047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,-122.419091,47.495573,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.000000,-122.348673,47.575956,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.000000,-122.330224,47.615369,NaN,2.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.000000,-122.311937,47.663664,NaN,3.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.000000,-122.238949,47.734142,NaN,81.000000,6.000000,2.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_c.shape

(194673, 16)

In [39]:
df_c.dtypes

SEVERITYCODE      int64
X               float64
Y               float64
ADDRTYPE         object
PERSONCOUNT       int64
PEDCOUNT          int64
PEDCYLCOUNT       int64
VEHCOUNT          int64
INCDATE          object
INCDTTM          object
UNDERINFL        object
WEATHER          object
ROADCOND         object
LIGHTCOND        object
ST_COLCODE       object
HITPARKEDCAR     object
dtype: object

# Check the missing data amount in the remaining attributes

In [40]:
missing_data_c = df_c.isnull()

for column in missing_data_c.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

X
False    189339
True       5334
Name: X, dtype: int64

Y
False    189339
True       5334
Name: Y, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

ST_COLCODE
False    194655
True         18
Name: ST_COLCODE, dtype: int64

HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64

# Drop all rows that do not have data in the selected attributes

In [41]:
df_c.dropna(subset=["X"], axis=0, inplace=True)
df_c.dropna(subset=["Y"], axis=0, inplace=True)
df_c.dropna(subset=["ADDRTYPE"], axis=0, inplace=True)
df_c.dropna(subset=["UNDERINFL"], axis=0, inplace=True)
df_c.dropna(subset=["WEATHER"], axis=0, inplace=True)
df_c.dropna(subset=["ROADCOND"], axis=0, inplace=True)
df_c.dropna(subset=["LIGHTCOND"], axis=0, inplace=True)

df_c.reset_index(drop=True, inplace=True)
df_c.shape

(184167, 16)

All the rows including missing data are removed from the dataset

In [42]:
df_c.head(5)

,SEVERITYCODE,X,Y,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,HITPARKEDCAR
0,2,-122.323148,47.703140,Intersection,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,N,Overcast,Wet,Daylight,10,N
1,1,-122.347294,47.647172,Block,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,0,Raining,Wet,Dark - Street Lights On,11,N
2,1,-122.334540,47.607871,Block,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,0,Overcast,Dry,Daylight,32,N
3,1,-122.334803,47.604803,Block,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,N,Clear,Dry,Daylight,23,N
4,2,-122.306426,47.545739,Intersection,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,0,Raining,Wet,Daylight,10,N

In [43]:
df_c.describe()

,SEVERITYCODE,X,Y,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT
count,184167.000000,184167.000000,184167.000000,184167.000000,184167.000000,184167.000000,184167.000000
mean,1.304142,-122.330502,47.619544,2.468048,0.038845,0.029745,1.973692
std,0.460045,0.030018,0.056215,1.358602,0.202556,0.171220,0.556182
min,1.000000,-122.419091,47.495573,0.000000,0.000000,0.000000,0.000000
25%,1.000000,-122.348846,47.575884,2.000000,0.000000,0.000000,2.000000
50%,1.000000,-122.330168,47.615361,2.000000,0.000000,0.000000,2.000000
75%,2.000000,-122.311922,47.663835,3.000000,0.000000,0.000000,2.000000
max,2.000000,-122.238949,47.734142,81.000000,6.000000,2.000000,12.000000

# Investigate the values in the attributes that are more likely to be features for our model

In [44]:
df_c['UNDERINFL'].value_counts()

N    97244
0    78064
Y     4980
1     3879
Name: UNDERINFL, dtype: int64

Since there are two type of binary categorization in the UNDERINFL attribute, we should change it to single type.

In [45]:
df_c.replace("N","0", inplace = True)
df_c.replace("Y","1", inplace = True)

df_c['UNDERINFL'].value_counts()

0    175308
1      8859
Name: UNDERINFL, dtype: int64

In [46]:
df_c['WEATHER'].value_counts()

Clear                       108833
Raining                      31987
Overcast                     27105
Unknown                      13846
Snowing                        888
Other                          765
Fog/Smog/Smoke                 553
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               49
Severe Crosswind                24
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [47]:
df_c['ROADCOND'].value_counts()

Dry               121871
Wet                46009
Unknown            13795
Ice                 1174
Snow/Slush           984
Other                116
Standing Water       102
Sand/Mud/Dirt         63
Oil                   53
Name: ROADCOND, dtype: int64

In [48]:
df_c['LIGHTCOND'].value_counts()

Daylight                    113522
Dark - Street Lights On      47250
Unknown                      12416
Dusk                          5763
Dawn                          2422
Dark - No Street Lights       1450
Dark - Street Lights Off      1145
Other                          188
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [49]:
df_c['HITPARKEDCAR'].value_counts()

0    177537
1      6630
Name: HITPARKEDCAR, dtype: int64

# Change the attribute types as required
Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'.

In [50]:
# change the date and time attributes to date format

df_c['INCDATE'] = pd.to_datetime(df_c['INCDATE'])
df_c['INCDTTM'] = pd.to_datetime(df_c['INCDTTM'])
df_c.head(5)

,SEVERITYCODE,X,Y,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,HITPARKEDCAR
0,2,-122.323148,47.703140,Intersection,2,0,0,2,2013-03-27 00:00:00+00:00,2013-03-27 14:54:00,0,Overcast,Wet,Daylight,10,0
1,1,-122.347294,47.647172,Block,2,0,0,2,2006-12-20 00:00:00+00:00,2006-12-20 18:55:00,0,Raining,Wet,Dark - Street Lights On,11,0
2,1,-122.334540,47.607871,Block,4,0,0,3,2004-11-18 00:00:00+00:00,2004-11-18 10:20:00,0,Overcast,Dry,Daylight,32,0
3,1,-122.334803,47.604803,Block,3,0,0,3,2013-03-29 00:00:00+00:00,2013-03-29 09:26:00,0,Clear,Dry,Daylight,23,0
4,2,-122.306426,47.545739,Intersection,2,0,0,2,2004-01-28 00:00:00+00:00,2004-01-28 08:04:00,0,Raining,Wet,Daylight,10,0

In [51]:
df_c.dtypes

SEVERITYCODE                  int64
X                           float64
Y                           float64
ADDRTYPE                     object
PERSONCOUNT                   int64
PEDCOUNT                      int64
PEDCYLCOUNT                   int64
VEHCOUNT                      int64
INCDATE         datetime64[ns, UTC]
INCDTTM              datetime64[ns]
UNDERINFL                    object
WEATHER                      object
ROADCOND                     object
LIGHTCOND                    object
ST_COLCODE                   object
HITPARKEDCAR                 object
dtype: object

# Investigate the effect of attributes on the accident severity

In [52]:
df_c.groupby(['UNDERINFL'])['SEVERITYCODE'].value_counts(normalize=True)

UNDERINFL  SEVERITYCODE
0          1               0.700305
           2               0.299695
1          1               0.607856
           2               0.392144
Name: SEVERITYCODE, dtype: float64

In [53]:
df_c.groupby(['WEATHER'])['SEVERITYCODE'].value_counts(normalize=True)

WEATHER                   SEVERITYCODE
Blowing Sand/Dirt         1               0.734694
                          2               0.265306
Clear                     1               0.675926
                          2               0.324074
Fog/Smog/Smoke            1               0.667269
                          2               0.332731
Other                     1               0.856209
                          2               0.143791
Overcast                  1               0.682605
                          2               0.317395
Partly Cloudy             2               0.600000
                          1               0.400000
Raining                   1               0.660612
                          2               0.339388
Severe Crosswind          1               0.708333
                          2               0.291667
Sleet/Hail/Freezing Rain  1               0.758929
                          2               0.241071
Snowing                   1               0.813063
                          2               0.186937
Unknown                   1               0.944099
                          2               0.055901
Name: SEVERITYCODE, dtype: float64

In [54]:
df_c.groupby(['ROADCOND'])['SEVERITYCODE'].value_counts(normalize=True)

ROADCOND        SEVERITYCODE
Dry             1               0.676699
                2               0.323301
Ice             1               0.773424
                2               0.226576
Oil             1               0.622642
                2               0.377358
Other           1               0.663793
                2               0.336207
Sand/Mud/Dirt   1               0.650794
                2               0.349206
Snow/Slush      1               0.832317
                2               0.167683
Standing Water  1               0.745098
                2               0.254902
Unknown         1               0.948387
                2               0.051613
Wet             1               0.666109
                2               0.333891
Name: SEVERITYCODE, dtype: float64

In [55]:
df_c.groupby(['LIGHTCOND'])['SEVERITYCODE'].value_counts(normalize=True)

LIGHTCOND                 SEVERITYCODE
Dark - No Street Lights   1               0.780000
                          2               0.220000
Dark - Street Lights Off  1               0.732751
                          2               0.267249
Dark - Street Lights On   1               0.700127
                          2               0.299873
Dark - Unknown Lighting   1               0.636364
                          2               0.363636
Dawn                      1               0.665566
                          2               0.334434
Daylight                  1               0.666373
                          2               0.333627
Dusk                      1               0.668402
                          2               0.331598
Other                     1               0.803191
                          2               0.196809
Unknown                   1               0.953044
                          2               0.046956
Name: SEVERITYCODE, dtype: float64

# Data visualization

# Modeling with UNDERINFL attribution

# Modeling with WEATHER attribution

# Modeling with ROADCOND attribution

# Modeling with LIGHTCOND attribution

# Modeling with all attributions